{% include 'header.html' %}
<style>
    .from {
        padding-bottom: 20px;
    }
</style>
<h1>Edit Car</h1>

<div class="container">

    <form method="POST" class="">
        <div class="row g-3 mt-5">
            <div class="col-md-6">

                <label for="brand">Brand:</label>
                <input type="text" id="brand" name="brand" class="form-control" value="{{ car.brand }}" required><br>
            </div>
            <div class="col-md-6">

                <label for="model">Model:</label>
                <input type="text" id="model" name="model" class="form-control" value="{{ car.model }}" required><br>
            </div>
            <!-- Другие поля -->
            <div class="col-md-6">

                <label for="year">Year:</label>
                <input type="text" id="year" name="year" class="form-control" value="{{ car.year }}" required><br>
            </div>
            <div class="col-md-6">

                <label for="trim">Trim:</label>
                <input type="text" id="trim" name="trim" class="form-control" value="{{ car.trim }}"><br>
            </div>
            <div class="col-md-6">

                <label for="vin">VIN:</label>
                <input type="text" id="vin" name="vin" class="form-control" value="{{ car.vin }}"><br>
            </div>
            <div class="col-md-6">

                <label for="driveline">Driveline:</label>
                <input type="text" id="driveline" name="driveline" class="form-control" value="{{ car.driveline }}"><br>
            </div>
            <div class="col-md-6">

                <label for="carfax_report">Carfax Report:</label>
                <input type="text" id="carfax_report" name="carfax_report" class="form-control" value="{{ car.carfax_report }}"><br>
            </div>
            <div class="col-md-6">

                <label for="mileage">Mileage:</label>
                <input type="text" id="mileage" name="mileage" class="form-control" value="{{ car.mileage }}"><br>
            </div>
            <div class="col-md-6">

                <label for="fuel_type">Fuel Type:</label>
                <input type="text" id="fuel_type" name="fuel_type" class="form-control" value="{{ car.fuel_type }}"><br>
            </div>
            <div class="col-md-6">

                <label for="owners">Owners:</label>
                <input type="text" id="owners" name="owners" class="form-control" class="form-control" value="{{ car.owners }}"><br>
            </div>
            <div class="col-md-6">

                <label for="engine">Engine:</label>
                <input type="text" id="engine" name="engine" class="form-control" value="{{ car.engine }}"><br>
            </div>
            <div class="col-md-6">


                <label for="price">Price:</label>
                <input type="text" id="price" name="price" class="form-control" value="{{ car.price }}"><br>
            </div>
            <div class="col-md-6">

                <label for="body_style">Body Style:</label>
                <input type="text" id="body_style" class="form-control" name="body_style" value="{{ car.body_style }}"><br>
            </div>
            <div class="col-md-6">

                <button type="submit" class="btn btn-primary mt-4">Save Changes</button>
            </div>
        </div>
    </form>
</div>
<div class="container">

    <h2>Photos</h2>
    <ul>
        {% for photo in car.photos %}
        <li class="list-unstyled">
            <img src="{{ photo.path }}" alt="Car Photo" style="max-width: 350px; max-height: 350px;">
            <form method="POST" action="{{ url_for('delete_photo', photo_id=photo.id) }}" class="from">
                <button type="submit" class="btn btn-primary mt-4">Delete</button>
            </form>
        </li>
        {% endfor %}
    </ul>
</div>
{% include 'footer.html' %}